<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,134}</string>
                <key>spriteSourceSize</key>
                <string>{331,134}</string>
                <key>textureRect</key>
                <string>{{1543,1},{331,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1540,948}</string>
                <key>spriteSourceSize</key>
                <string>{1540,948}</string>
                <key>textureRect</key>
                <string>{{1,1},{1540,948}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuanshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{1543,334},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>_diamonds.png</string>
            <key>size</key>
            <string>{1678,950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e37481896bf644a1f2e99987d77bc18:becc21d05a559c6215fc35eb6da3bdbf:a935a22dd697262e1f62fc3919eaa0e4$</string>
            <key>textureFileName</key>
            <string>_diamonds.png</string>
        </dict>
    </dict>
</plist>
