<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_09_01.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,88}</string>
                <key>spriteSourceSize</key>
                <string>{338,88}</string>
                <key>textureRect</key>
                <string>{{193,540},{338,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_09_02.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,88}</string>
                <key>spriteSourceSize</key>
                <string>{338,88}</string>
                <key>textureRect</key>
                <string>{{533,540},{338,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_10_01.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,88}</string>
                <key>spriteSourceSize</key>
                <string>{338,88}</string>
                <key>textureRect</key>
                <string>{{193,630},{338,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_10_02.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,88}</string>
                <key>spriteSourceSize</key>
                <string>{338,88}</string>
                <key>textureRect</key>
                <string>{{533,630},{338,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_11_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1,540},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_11_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{97,540},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_di_04.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{828,537}</string>
                <key>spriteSourceSize</key>
                <string>{828,537}</string>
                <key>textureRect</key>
                <string>{{1,1},{828,537}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>_confirm.png</string>
            <key>size</key>
            <string>{872,719}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8ee5504a6d065efccfe0d55c2502cf3:8214085cc442ea5714b32fccf51abb44:7ce46489883c15cf8420686b30808b0f$</string>
            <key>textureFileName</key>
            <string>_confirm.png</string>
        </dict>
    </dict>
</plist>
