<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>again_01_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{1697,0},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>again_01_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{1788,158},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>again_02_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{2384,158},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>again_02_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{2980,158},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>again_03_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{2682,158},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>again_03_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{2086,158},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>begin_01_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{1490,158},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>begin_01_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{0,158},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>begin_02_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{596,158},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>begin_02_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{1192,158},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>begin_03_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{894,158},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>begin_03_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{3278,158},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3036,1366}</string>
                <key>spriteSourceSize</key>
                <string>{3036,1366}</string>
                <key>textureRect</key>
                <string>{{0,1249},{3036,1366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_01_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,92}</string>
                <key>spriteSourceSize</key>
                <string>{123,92}</string>
                <key>textureRect</key>
                <string>{{2209,237},{123,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_01_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,92}</string>
                <key>spriteSourceSize</key>
                <string>{123,92}</string>
                <key>textureRect</key>
                <string>{{2086,237},{123,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_01h_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,92}</string>
                <key>spriteSourceSize</key>
                <string>{123,92}</string>
                <key>textureRect</key>
                <string>{{2332,237},{123,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_01h_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,92}</string>
                <key>spriteSourceSize</key>
                <string>{123,92}</string>
                <key>textureRect</key>
                <string>{{2578,237},{123,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_01p_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,92}</string>
                <key>spriteSourceSize</key>
                <string>{123,92}</string>
                <key>textureRect</key>
                <string>{{2701,237},{123,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_01p_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,92}</string>
                <key>spriteSourceSize</key>
                <string>{123,92}</string>
                <key>textureRect</key>
                <string>{{2455,237},{123,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>change_01_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{0,237},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>change_01_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{298,237},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>change_02_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{1490,237},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>change_02_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{894,237},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>change_03_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{596,237},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>change_03_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{1192,237},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close_01_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{1788,237},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close_01_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{298,158},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close_02_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{2384,79},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close_02_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{3278,79},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close_03_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{2293,0},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close_03_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{1399,0},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>confirm_01_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{2591,0},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>confirm_01_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{1995,0},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>confirm_02_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{1101,0},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>confirm_02_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{207,0},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>confirm_03_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{505,0},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>confirm_03_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{803,0},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crown_01_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{2889,0},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crown_01_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{298,79},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crown_02_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{1788,79},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crown_02_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{3187,0},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crown_03_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{2980,79},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crown_03_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{2682,79},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_01_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{2086,79},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_01_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{1490,79},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_02_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{0,79},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_02_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{596,79},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_03_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{1192,79},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_03_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,79}</string>
                <key>spriteSourceSize</key>
                <string>{298,79}</string>
                <key>textureRect</key>
                <string>{{894,79},{298,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,42}</string>
                <key>spriteSourceSize</key>
                <string>{51,42}</string>
                <key>textureRect</key>
                <string>{{105,0},{51,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,42}</string>
                <key>spriteSourceSize</key>
                <string>{51,42}</string>
                <key>textureRect</key>
                <string>{{54,0},{51,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,42}</string>
                <key>spriteSourceSize</key>
                <string>{51,42}</string>
                <key>textureRect</key>
                <string>{{156,0},{51,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_01_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,1012}</string>
                <key>spriteSourceSize</key>
                <string>{373,1012}</string>
                <key>textureRect</key>
                <string>{{2824,237},{373,1012}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_01_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,1012}</string>
                <key>spriteSourceSize</key>
                <string>{373,1012}</string>
                <key>textureRect</key>
                <string>{{3197,237},{373,1012}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zzsr_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,29}</string>
                <key>spriteSourceSize</key>
                <string>{28,29}</string>
                <key>textureRect</key>
                <string>{{26,0},{28,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>_teacher.png</string>
            <key>size</key>
            <string>{3576,2615}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15c6809b7e9707a26c6fecb3759e8717:8be0dd3f3adcf6a1926974e37f4329e4:feec4342b343a8237aeea33852aacada$</string>
            <key>textureFileName</key>
            <string>_teacher.png</string>
        </dict>
    </dict>
</plist>
