/**
 * Author: earl
 * Create Time: 2018-03-25 14:21
 * Description: 3D转换
 */

body {
    margin: 30px 0;
}

h3 {
    border-bottom: 2px solid #1329ff;
}

.index_01 div {
    width: 200px;
    height: 200px;
    background: yellow;
    margin: 10px;
}

.index_01 .div2 {
    -webkit-transform: rotateX(180deg); /* Safari 和 Chrome */
    -moz-transform: rotateX(180deg); /* Firefox */
    transform: rotateX(180deg);
}

.index_02 div {
    width: 200px;
    height: 200px;
    background: yellow;
    margin: 10px;
}

.index_02 .div2 {
    -webkit-transform: rotateY(180deg); /* Safari 和 Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
    transform: rotateY(180deg);
}

.index_03 div {
    width: 200px;
    height: 200px;
    background: yellow;
    margin: 10px;
}

.index_03 .div2 {
    -webkit-transform: rotateZ(180deg); /* Safari 和 Chrome */
    -moz-transform: rotateZ(180deg); /* Firefox */
    transform: rotateZ(180deg);
}


