/**
 * Author: earl
 * Create Time: 2018-03-21 14:19
 * Description: 
 */

body {
    margin: 30px;
}

.index_01 {
    border: 2px solid #f00;
    border-radius: 20px;
}

.index_02 {
    /*水平距离 垂直距离 模糊距离 颜色*/
    box-shadow: 10px 10px 5px #888888;
}

.index_03 {
    border: 10px solid transparent;
    width: 300px;
    border-image: url(../images/fangkuai.png) 120 120 round;
    -o-border-image: url(../images/fangkuai.png) 120 120 round;
    -webkit-border-image: url(../images/fangkuai.png) 120 120 round;
}