/**
 * Author: earl
 * Create Time: 2018-03-22 14:29
 * Description: 渐变
 */

h3 {
    border-bottom: 2px solid #1329ff;
}

.index_01 .div1 {
    height: 200px;
    background: -webkit-linear-gradient(red, blue); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(red, blue); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(red, blue); /* Firefox 3.6 - 15 */
    background: linear-gradient(red, blue); /* 标准的语法（必须放在最后） */
}

.index_02 .div1 {
    height: 200px;
    background: -webkit-linear-gradient(left, red, blue); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, red, blue); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, red, blue); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, red, blue); /* 标准的语法（必须放在最后） */
}

.index_03 .div1 {
    height: 200px;
    background: -webkit-linear-gradient(left top, red, blue); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right, red, blue); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right, red, blue); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, red, blue); /* 标准的语法（必须放在最后）*/
}

.index_04 {
    overflow: hidden;
}

.index_04 div {
    float: left;
    margin: 10px;
}

.index_04 .gradient_01 {
    width: 100px;
    height: 100px;
    background: -webkit-linear-gradient(0deg, red, blue);
    background: -o-linear-gradient(0deg, red, blue);
    background: -moz-linear-gradient(0deg, red, blue);
    background: linear-gradient(0deg, red, blue);
}

.index_04 .gradient_02 {
    width: 100px;
    height: 100px;
    background: -webkit-linear-gradient(90deg, red, blue);
    background: -o-linear-gradient(90deg, red, blue);
    background: -moz-linear-gradient(90deg, red, blue);
    background: linear-gradient(90deg, red, blue);
}

.index_04 .gradient_03 {
    width: 100px;
    height: 100px;
    background: -webkit-linear-gradient(180deg, red, blue);
    background: -o-linear-gradient(180deg, red, blue);
    background: -moz-linear-gradient(180deg, red, blue);
    background: linear-gradient(180deg, red, blue);
}

.index_04 .gradient_04 {
    width: 100px;
    height: 100px;
    background: -webkit-linear-gradient(-90deg, red, blue);
    background: -o-linear-gradient(-90deg, red, blue);
    background: -moz-linear-gradient(-90deg, red, blue);
    background: linear-gradient(-90deg, red, blue);
}

.index_05 {
    overflow: hidden;
}

.index_05 div {
    float: left;
    margin: 10px;
}

.index_05 .gradient_01 {
    width: 100px;
    height: 100px;
    background: -webkit-linear-gradient(green, red, blue);
    background: -o-linear-gradient(green, red, blue);
    background: -moz-linear-gradient(green, red, blue);
    background: linear-gradient(green, red, blue);
}

.index_05 .gradient_02 {
    width: 100px;
    height: 100px;
    background: -webkit-linear-gradient(green, red, blue, beige, white, greenyellow, pink);
    background: -o-linear-gradient(green, red, blue, beige, white, greenyellow, pink);
    background: -moz-linear-gradient(green, red, blue, beige, white, greenyellow, pink);
    background: linear-gradient(green, red, blue, beige, white, greenyellow, pink);
}

.index_05 .gradient_03 {
    width: 100px;
    height: 100px;
    background: -webkit-linear-gradient(green, red, blue);
    background: -o-linear-gradient(green, red, blue);
    background: -moz-linear-gradient(green, red, blue);
    background: linear-gradient(green 10%, red 30%, blue 60%);
}

.index_06 .gradient {
    height: 100px;
    width: 500px;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
    background: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); /* 标准的语法（必须放在最后） */
}

.index_07 .gradient {
    height: 200px;
    width: 500px;
    background: -webkit-linear-gradient(left, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1)); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1)); /* 标准的语法（必须放在最后） */
}

.index_08 .gradient {
    width: 500px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    background: -webkit-repeating-linear-gradient(red, yellow 10%, green 30%);
    background: -o-repeating-linear-gradient(red, yellow 10%, green 30%);
    background: -moz-repeating-linear-gradient(red, yellow 10%, green 30%);
    background: repeating-linear-gradient(red, yellow 10%, green 30%);
}

.index_09 .radial-gradient {
    width: 500px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    background: -webkit-radial-gradient(red, yellow, green);
    background: -o-radial-gradient(red, yellow, green);
    background: -moz-radial-gradient(red, yellow, green);
    background: radial-gradient(red, yellow, green);
}

.index_10 .radial-gradient {
    width: 500px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    background: -webkit-repeating-radial-gradient(red 10%, yellow 20%, green 30%);
    background: -o-repeating-radial-gradient(red 10%, yellow 20%, green 30%);
    background: -moz-repeating-radial-gradient(red 10%, yellow 20%, green 30%);
    background: repeating-radial-gradient(red 10%, yellow 20%, green 30%);
}