/**
 * Author: earl
 * Create Time: 2018-03-20 10:57
 * Description: 
 */

body {
    margin: 30px;
}

.left {
    width: 200px;
    height: 600px;
    background: red;
    float: left;
    display: table;
    text-align: center;
    line-height: 600px;
    color: #fff;
}

.right {
    margin-left: 210px;
    height: 600px;
    background-color: yellow;
    text-align: center;
    line-height: 600px;
}