/**
 * Author: earl
 * Create Time: 2018-03-22 10:36
 * Description: 圆角
 */
div {
    float: left;
    margin: 10px;
}

.index_01 {
    background-color: #8AC007;
    width: 80px;
    height: 80px;
    border-radius: 25px;
    padding: 20px;
}

.index_02 {
    width: 80px;
    height: 80px;
    border-radius: 25px;
    border: 1px #8AC007 solid;
    padding: 20px;
}

.index_03 {
    width: 1000px;
    height: 1000px;
    background: url(../images/fangkuai.png);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
}

.index_04 {
    width: 100px;
    height: 100px;
    background-color: #8AC007;
    border-radius: 15px 50px 30px 5px;
    padding: 10px;
}

.index_05 {
    width: 100px;
    height: 100px;
    background-color: #8AC007;
    border-radius: 15px 50px 30px;
    padding: 10px;
}

.index_06 {
    width: 100px;
    height: 100px;
    background-color: #8AC007;
    border-radius: 15px 30px;
    padding: 10px;
}

.index_07 {
    width: 100px;
    height: 100px;
    background-color: #8ac007;
    padding: 10px;
    border-radius: 50px/19px;
}

.index_08 {
    width: 100px;
    height: 100px;
    background-color: #8ac007;
    padding: 10px;
    border-radius: 10px/50px;
}

.index_09 {
    width: 100px;
    height: 50px;
    background-color: #8ac007;
    padding: 20px;
    border-radius: 50%;
}